.burger-popup {
	position: absolute;

	  display: none;
	flex-direction: column;
	height: 83px;
	width: 166px;
	padding: 5px 1px 0 1px;
	right: 0;
	top: 45px;
	z-index: 1;
	border: 1px solid $popup-border;
}


.burger-popup_active {
	display: flex;
}

.burger-popup::before {
	content: '';
	position: absolute;
	top: -5px;
	right: 22px;
	height: 8px;
	width: 8px;
	border: 1px solid  $popup-border;
	border-right: transparent;
	border-bottom: transparent;
	transform: rotate(45deg);
	background-color: $button-second;
	z-index: 2;
}

.popup-button {
	height: 36px;
	width: 163px;
	padding: 9px 15px 9px 40px;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	border: 0;
	background-color: $button-second;
	text-align: left;
	z-index: 2;
}

.popup-button:hover {
	background-color: $window-back-ground;
}
