.header {
  background-color: $light-font;
  color: $window-panel;
  box-shadow: 0px 10px 63px rgba(0, 0, 0, 0.07);
}

.header__container {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.header__logo {
  margin-right: 50px;
}

.header__title {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.main {
  padding: 94px 0 144px 0;
}

.main__container {
  display: flex;
  gap: 50px;
  padding: 0 75px;
  flex-wrap: wrap;
  background: $button-second;
}

.pomodoro-form {
  width: 733px;
  margin: 0 auto;
}

.window__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 30px 19px 30px;
  background-color: $window-panel;
}

.window__body {
  background-color: $window-back-ground;
  margin-bottom: 50px;
  padding: 70px 166px 108px;
}

.window__timer-text {
  color: $dark-font;
  font-size: 150px;
  line-height: 183px;
  margin-bottom: 36px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.window__buttons {
  display: flex;
  justify-content: center;
  gap: 23px;
}

.task-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-form__add-button {
  width: 230px;
}

.pomodoro-tasks {
  width: 507px;
  margin: 0 auto;
}

.pomodoro-tasks__header-title {
  color: $dark-font;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 3px;
}

.pomodoro-tasks__quest-list {
  color: $dark-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  margin-bottom: 31px;
  counter-reset: taskNumber;
  margin-bottom: 30px;
}

.pomodoro-tasks__quest-tasks {
  margin-bottom: 20px;
}

.pomodoro-tasks__list-task {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  color: $dark-font;
  border-bottom: 1px solid $window-back-ground;
  padding: 0 15px 0 35px;
}

.pomodoro-tasks__list-task::after {
  content: '';
  width: 25px;
  height: 25px;
  left: 0;
  position: absolute;
  border: 1px solid #000000;
  border-radius: 50%;
  z-index: 0;
}

.pomodoro-tasks__list-task.default::after {
  background-color: #A9BB30;
}

.pomodoro-tasks__list-task.so-so::after {
  background-color: #F3EC34;
}

.pomodoro-tasks__list-task.important::after {
  background-color: #DC0D27;
}

.pomodoro-tasks__list-task:first-child {
  border-top: 1px solid $window-back-ground;
}

.pomodoro-tasks__task-text {
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 4px 5px;
  &:hover {
    background-color: rgba(68, 220, 13, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.pomodoro-tasks__task-text_active {
  background-color: rgba(220, 13, 39, 0.15);
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    background-color: darker(rgba(220, 13, 39, 0.3), 1);
  }
}

.pomodoro-tasks__task-button {
  height: 6px;
  width: 26px;
  border: 0;
  background: url('../img/svg/burger-button.svg') no-repeat;
}

.burger-popup__edit-button {
  background-image: url(../img/svg/pen.svg);
  background-repeat: no-repeat;
  background-position: 13px 10px;
}

.burger-popup__delete-button {
  background-image: url(../img/svg/bin.svg);
  background-repeat: no-repeat;
  background-position: 13px 10px;
}

.pomodoro-tasks__deadline-timer {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  color: $deadline-timer;
}
